#divContent {
	width:100%;
}
#divContent h1 {
	color: steelblue;
}
#divHeader {
	width:800px; font-family: sans-serif; font-size: 16px; margin-bottom: 10px;
}
#divHeader p {
	margin: 0px; padding: 0px; font-size: 14pt; font-family: sans-serif; color: black;
}
#divMain {
	width:800px; min-height: 100px; border: 0px solid gray; padding:10px 0 10px 0; font-family: sans-serif; font-size: 13pt;
}
#divReadme {
	width:800px; min-height: 100px; border: 0px solid gray; padding:10px 0 10px 0; font-family: sans-serif; font-size: 13pt;
}
.divText {
	width:800px; min-height:30px; border: 0px solid steelblue; margin:20px 0 5px 0;
}
.divText p {
	margin: 0 0 10px 0; text-align: left; text-align: justify;
}
.svgChart {
	width:800px; height:500px; border: 1px solid steelblue;
}
.divSubTitle {
	font-family: sans-serif; font-size: 10pt; color: blue;
}
.zeroline {
	fill: none; stroke: red; stroke-width: 0.5px; stroke-dasharray: 5 5;
}

.zerolinetext {
	fill: red;
}